# package directories
node_modules
jspm_packages

# Serverless folder

.serverless

# esbuild directories
.esbuild

# Webpack directories
.webpack

build


# Compiled Code
dist

# Tests
tests

# env
.env

# elastic beanstalk config
.ebextensions
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml