# package directories
node_modules
jspm_packages

# Serverless file and folder
serverless.*
.serverless

# esbuild directories
.esbuild

# Webpack directories
.webpack

build


# Compiled Code
dist

# Tests
tests
